<%- include("../partials/header") %>

    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
            <form action="/skills/ <%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
            <a href="/skills/<%= skill.id %>">
                <%= skill.skill %>
                 - 
                <%= skill.learned ? 'check' : 'coming soon' %>
            </a>
        </li>
      <% }) %>
    </ul>
<%- include("../partials/footer") %>